<mat-toolbar color="primary" >
  <ul>
    <button routerLink="/orderlist" routerLinkActive="mat-accent" mat-button >צפייה בהזמנות</button>
    <button routerLink="/create" routerLinkActive="mat-accent" mat-button >הזמנה חדשה</button>
    <button mat-button routerLink="/report" routerLinkActive="mat-accent">דוחות</button>
    <button mat-button >התראות</button>
    <button class="Lg" routerLink="/login" routerLinkActive="mat-accent">Login</button>
    <button class="Lg2" routerLink="/signout" routerLinkActive="mat-accent">Signout</button>
  </ul>
</mat-toolbar>